@font-face {
   font-family: BerkshireSwash;
   src: url("BerkshireSwash-Regular.ttf");
}
@font-face {
   font-family: KaushanScript;
   src: url("KaushanScript-Regular.ttf");
}

@font-face {
   font-family: Merriweather;
   src: url("Merriweather-Regular.ttf");
}
@font-face {
   font-family: Raleway;
   src: url("Raleway-LightItalic.ttf");
}